*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#caixa {
    background-color: #E8CFC1;
    height: 5vh;
}

ul{
    display: flex;
    margin-top: 6px; 
    margin-left: 80px;
    list-style: none;
}

.logo{
    margin-right: 190px;
    margin-top: 5px;
}

.rede{
    margin-top: 80px;
    margin-left: 100px;
    text-align: left;
}


.menu{
    margin-left: 400px;
}

.menu li a{
    margin-right: 250px;
}

a{
    color: black;
    font-size: 18px;
    text-decoration: transparent;
    margin-left: 55px;
}

.pesquisa{
    margin-top: 80px;
    margin-left: 80px;
}

.lupa{
    margin-top: 80px;
    margin-right: 5px;
    position: absolute;
    margin-left: -3%;
}

.banner{
    width: 100%;
}

.titulo{
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
}

.produtos{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}

.produto1 h3,h4{
    text-align: center;
}

.produto1{
    margin-right: 100px;
}

#baixo{
    background-color: #E8CFC1;
    height: 30vh;
}

.busca input {
    background-image: url(icone-search.png);
    background-repeat: no-repeat;
    height: 36px;
    padding: 12px;
    width: 190px;
    margin-top: 10px;
    background-position: 96%;
    border: 1px solid #d6d6d6;
}
